.register{
  max-width: 700px;
  width: 100%;
  margin-top: 70px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-bottom: 50px;
}

::selection{
  background: #4158d0;
  color:#fff;
}

.emailVerification{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.emailVerification .inner-title{
  width: 320px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  user-select: none;
}

.register .inner-title{
    width: 620px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    user-select: none;
}

.emailVerification form{
  padding: 10px 30px 50px 30px;
}

.emailVerification form .emailInp input:focus, form .emailInp input:valid{
  border-color: #68B8C1;
}


.emailVerification form .emailInp{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.emailVerification form .emailInp input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.register form .inputCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px; 
  }

  .inputCont > div{
    width: calc(100% /2 - 20px);
  }

  .inputCont > .centered{
    width: 60%; 
    margin: 0 auto;
  }

  .register form .inputCont span.details{
    display: block;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px; 
  }

  .register form .inputCont span.centDetails{
    display: block;
    font-weight: 500;
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

  .inputCont input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 15px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    transition: all 0.3s ease;
  }


  .register form .inputCont input:focus, form .inputCont input:valid{
    border-color: #68B8C1;
  }

  .inputCont input[type="password"]{
    margin-bottom: 5px;
}

form .regBttn{
  height: 45px;
  margin: 35px 0
}

form .regBttn input{
  background: #f78254;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.2s;
}

.regBttn:hover{
  transform: scale(1.05);
  background: #ff743d;
}

.parent{
  display: flex;
  justify-content: center;
}

.existing-acc{
  display: flex;
  margin: 0 auto;
}

.existing-acc p {
  margin-right: 8px; 
}

.existing-acc a{
  color: grey;
  text-decoration: none;
  position: relative;
}

.existing-acc a::before{
  content: '';
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: grey;
  transition: width 0.2s ease;
}

.existing-acc a:hover::before{
  width: 100%;
}


