body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #C3E1E5; 
}

.startDiv{
    width: 100%;
    height: 100vh;
    display: flex;
}

.imgDiv {
    position: fixed;
    right: 0;
    top: 0;
    width: 75%;
    height: 100%;
    object-fit: cover;
}

.startGraphic{
    position: relative;
    width: 100%;
    height : 100%;
    object-fit: cover;
}

.navigateDiv{
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: white;
    overflow: auto;
}

.logo {
    width: 80%; 
    height: auto; 
    max-width: 240px;

   
}

.navigateInfo{
    margin-top: 50px;
    position: relative;
    text-align: center;
    justify-content: center;
}

.borderBtm{
    border-bottom: 1px solid grey;
    text-align: center;
    margin-left: 10px;
    justify-content: center;
    width: 90%;
}

.startButtons{
    margin-top: 60px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginButton, .registerButton{
    background: #f78254;
    font-size: 20px;
    padding: 10px 80px;
    border-radius: 15px;
    border:none;
    color: white;
    cursor: pointer;
    margin: 5px;
    width: auto; 
    align-self: center;
    transition: transform 0.2s;
}

.loginButton{
    padding: 10px 85px;
}

.loginButton:hover, .registerButton:hover {
    transform: scale(1.1);
    background: #ff743d;
}



/*
.photoCont{
    display: flex;
    max-width: 90%;
    max-height: 100vh;
}

.parkImg{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
}





.startButtons{
    margin-top: 20px;
    position: fixed;
    top: 70%;
    left: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.loginButton, .registerButton{
    background: #f78254;
    font-size: 25px;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    border:none;
    color: white;
    cursor: pointer;
    margin: 5px;
    width: auto; 
    align-self: center;
    transition: transform 0.2s;
}

.loginButton:hover, .registerButton:hover {
    transform: scale(1.1);
    background: #ff743d;
}
*/
