.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  position: fixed;
  top: 0;
  right: 12%;
  width: 50%;
  padding: 10px;
  text-align: right;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li{
  margin-left: 50px;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navbar ul li a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease, left 0.3s ease;

}

.navbar ul li a:hover::after{
  width: 100%;
  left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
